@import url('/src/variables.css');

.root {
  position: relative;
  display: grid;
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  transition: all var(--transition-delay) linear;
}

.menu {
  position: sticky;
  top: 0;
  padding-top: 77px;
  background: var(--bglinear-menu);
  box-shadow: var(--box-shadow);
}

.header {
  background: var(--bglinear-menu);
  box-shadow: var(--box-shadow);
}

.dapplet-settings {
  position: sticky;
  top: 0;
  padding-top: 77px;
  background: var(--bglinear-menu);
  box-shadow: var(--box-shadow);
}

.children {
  min-height: calc(100vh - 60px);
}

.menu-1300 {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 10;
  width: 280px;
  height: calc(100vh - 60px);
  padding-top: 20px;
  padding-bottom: 25px;
  background: var(--white);
}

.dapplet-settings-1600 {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 10;
  width: 280px;
  height: calc(100vh - 60px);
  padding-top: 20px;
  padding-bottom: 25px;
  background: var(--white);
}

.main-bg {
  position: absolute;
  z-index: -10;
  width: 100%;
}

@media (width <= 1600px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--white);
  }
}

@media (width <= 880px) {
  .dapplet-settings-1500 {
    padding-top: 0;
  }
}

@media (width <= 500px) {
  .main-bg {
    display: none;
  }
}
