.root {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  margin-top: 20px;
  transition: all var(--transition-delay) linear;
  animation: var(--animation-visible);
}

.fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 285px);
}

.spinner {
  position: absolute;
  bottom: -25px;
  left: calc(50% - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (width <= 880px) {
  .root {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
}
