.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80vw;
  color: var(--black);
  animation: var(--animation-visible);
}

.title {
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
}

.text {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.button {
  height: 25px;
  margin-top: 20px;
}
