.root {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag-root:hover {
  box-shadow: var(--box-shadow-2);
}

.button {
  height: 17px;
  padding: 0 15px;
  font-size: 15px;
  font-weight: 500;
  line-height: 13px;
  color: var(--white);
  cursor: pointer;
  background-color: var(--graylight);
  border-radius: 4px;
}
