.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--white);
  animation: var(--animation-visible);
}

.red-text {
  color: var(--red);
}

.button {
  width: 90px;
  height: 40px;
}

.title {
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
}

.text {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.buttons {
  display: flex;
  gap: 20px;
}
