@import url('/src/fonts.css');

html,
body,
button,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  vertical-align: baseline;
  border: 0;
  outline: 0;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  line-height: 1;
  color: black;
  background: white;
}

ol,
ul {
  list-style: none;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-spacing: 0;
  border-collapse: separate;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

/* remove possible quote marks (") from <q> & <blockquote> */
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
}

blockquote,
q {
  quotes: '' '';
}

body::-webkit-scrollbar {
  width: 3px; /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: var(--white); /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--blue); /* цвет бегунка */
  border: none; /* отступ вокруг бегунка */
  border-radius: 50px; /* округлось бегунка */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
